body {
    background: #FFFFFF;
    font-family: Montserrat; 
  }
  
  .menu {
    background-color: #E6E6E6;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a{
    color: #666666;
    text-decoration: none; 
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color: #666666;
    text-align: center;
  }
  
  .site-subtitle{
    font-style: italic;
  }
  